# Events app sys daemon
[Unit]
Description=Events App SPA

[Service]
Type=simple
User=events-spa
Group=events-spa
Restart=always
RestartSec=1
Environment=MIX_ENV=prod
Environment=PORT=8910
Environment=PROD=true
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/events-spa/www/events-spa/serverside
ExecStart=/bin/bash /home/events-spa/www/events-spa/serverside/start.sh

[Install]
WantedBy=multi-user.target

# /etc/systemd/system/[APP].service
# sudo systemctl daemon-reload
# sudo systemctl enable [APP]
# sudo service [APP] start
# sudo service [APP] status
